body{ background-color: #D4ECDD;}
        hr{background-color: black;
        border-style:none ;
        height: 3px;
        
    }
    img{height: 336px;

    }
    h1{
        color: blue;
    }
    h2{
        color: green;
    }
    h3{
        color: green;
    }